@font-face {
    font-family: CondensedLight;
    src: url("/static/fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf");
}


html,
body {
	margin:0;
	padding:0;
	height:100%;
  font-size:16px;
  font-family: Helvetica, sans-serif;
/*  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana, "Helvetica Neue", Helvetica, sans-serif;*/
}

#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom:50px; /* Height of the footer element */
}

#footer {
  width:100%;
  height:50px;
  position:absolute;
  bottom:0;
  left:0;
  background:#efefef;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #eee, #333, #eee); 
  background-image:    -moz-linear-gradient(left, #eee, #333, #eee); 
  background-image:     -ms-linear-gradient(left, #eee, #333, #eee); 
  background-image:      -o-linear-gradient(left, #eee, #333, #eee); 
} 


.center {
	margin-left:auto;
	margin-right:auto;
	width:95%;
}


#tea_menu {
	font-size:24px;
  background:#888888;
	background:-moz-linear-gradient( center top, #888888 5%, #666666 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #888888), color-stop(1, #666666) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#666666');
	border-radius:15px;
	text-align:center;
	height:50px;
	line-height:50px;
  margin: 0px 0px 0px 0px;
  
}


#other_menu_td {
	width:130px;
}

#other_menu_td:hover {
	background:-moz-linear-gradient( center top, #555555 5%, #666666 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #555555), color-stop(1, #666666) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#666666');
	width:130px;
}

#tea_menu a {
	font-size:24px;
	font-weight:bold;
	font-style:normal;
	color:#FFFFFF;
	font-family: "CondensedLight";
	display:block;
	width:130px;
	text-align:center;
	text-decoration:none;
}

#right_menu {
	width:130px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
}

#right_menu:hover {
	background:-moz-linear-gradient( center top, #555555 5%, #666666 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #555555), color-stop(1, #666666) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#666666');
}

#left_menu {
	width:130px;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
}

#left_menu:hover {
	background:-moz-linear-gradient( center top, #555555 5%, #666666 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #555555), color-stop(1, #666666) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#666666');
}

#tea_title {
	font-size:60px;
	color:rgb(0,0,0);
	margin-top: 0px;
	font-family: "CondensedLight";
	text-shadow: 2px 2px 2px #bbb;
  margin: 10px 0px 10px 0px;
}

#subtitle {
	max-width:510px;
	font-size:38px;
	color:rgb(150,150,150);
	font-family: "CondensedLight";
  margin: 10px 0px 10px 0px;
}

.pagetitle {
  font-family:"Verdana", arial, Sans-serif;
  font-size:30px;
	font-weight:bold;
  margin: 10px 0px 0px 0px;
}

.pagesubtitle {
  font-family:"Verdana", arial, Sans-serif;
  font-size:20px;
	font-weight:bold;
  margin: 0px 0px 0px 0px;
}

#red {
	color:rgb(200,0,0);
}

#green {
	color:rgb(0,200,0);
}

#orange {
	color:rgb(250,100,0);
}


.td_index {
  text-decoration:none;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  width:200px;
  font-family: "CondensedLight";
}


#tea_form {
   display:inline;
   text-decoration:none;
   width:90%;
   margin-left:auto;
   margin-right:auto;
}

.td_form {
   text-decoration:none;
   vertical-align:top;
   text-align:left;
}


.blue_button {
	background-color:#4387FD;
	border:0px;
	border-radius:10px;
	color:#FFFFFF;
	font-family:Helvetica;
	font-size:16px;
	height:40px;
	line-height:38px;
  vertical-align: top;
}

.blue_button:hover {
	box-shadow: 0px 1px 0px 0px #C6C6C6;
	background-color:#5EA1FF;
	color:#0000CC;
}

.blue_button:active {
	position:relative;
	top:1px;
}

.info_icon {
	background-color:#4387FD;
	border-radius:20px;
	vertical-align: top;
	border:0px;
	display:inline-block;
	color:#ffffff;
	font-family:"Georgia",Georgia,Serif;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	width:18px;
	height:18px;
	line-height:18px;
	text-align:center;
/*  padding-bottom:2px;*/
}
.info_icon:hover {
	background-color:#5EA1FF;
	color:#0000CC;
}

.info_icon:active {
	position:relative;
	top:1px;
}

/* Expression Viewer output page */
#back_to_input {
  color: #2222f0;
  font-size:14px;
  float:left;
  bottom: 75px;
  text-decoration: underline;
  position: relative;
}

#download_expr_table {
  float:right;
  margin-top:12px;
  margin-right:5px;
}

.gene_name_dialog a{
	color:#000000;
	font-family:Helvetica;
	font-size:16px;
	line-height:18px;
	text-decoration:none;
}

.gene_desc_dialog {
	color:#000000;
	font-family:Helvetica;
	font-size:16px;
	line-height:18px;
	text-decoration:none;
}

#container {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-width:0px 1px 1px 1px;
  height:700px;
  width:1060px;
  overflow:scroll;
  padding-right: 20px;
}

#container_tissues {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-width:0px 1px 1px 1px;
  padding-left: 0px;
/*  margin-left: 15px;
  margin-right: 15px;
  min-width:1120px;
*/  
  width:1060px;
  overflow:scroll;
}

#container_heatmap {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-width:0px 1px 1px 1px;
  padding-left: 0px;
  height:700px;
  width:1060px;
  overflow:scroll;
}


.ui-tooltip {
  padding: 10px;
  position: absolute;
  max-width: 200px;
}

body .ui-tooltip {
  font-size:16px;
  border-width: 0px;
  background: rgba(255, 255, 255, 0.9);
/*  background: rgba(20, 20, 20, 0.8);*/
  color: #333;
/*  color: #ffffff;*/
  border-radius:5px;
  box-shadow: 2px 2px 10px #999;
}


/* Expression Viewer input page */

.dialog_text_area {
	border-color:#AAA;
	border-width:1px;
	border-style:solid;
	border-radius:5px;
	min-width: 420px;
	max-width: 420px;
}

#blast_div_dialog {
	border-collapse: collapse;
	width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 2px;
	white-space: nowrap;
	overflow: hidden;
}

#blast_res_div {
	width: 100%;
	overflow: auto;
	height: 300px;
	border-color:#AAA;
	border-width:1px;
	border-style:solid;
	border-radius:5px;
  padding: 5px 0px 5px 5px;
}

#blast_res_table {
	border-collapse: collapse;
	width: 100%;
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  white-space: nowrap;
}

#blast_res_table th {
  background-color: #aaa;
  color: #ffffff;
	padding-left: 5px;
}

#blast_res_table tr.alt td {
  color: #000000;
  background-color: #eee;
  padding-left: 5px;
}

#blast_res_table tr td {
  color: #000000;
  background-color: #fff;
  padding-left: 5px;
}

#blast_aln_div {
	overflow: scroll;
	margin-top: 15px;
}

#blast_aln_p {
	width: 100%;
	font-family: "Lucida", Monospace;
	border-color:#AAA;
	border-width:1px;
	border-style:solid;
	border-radius:5px;
  padding: 5px 0px 5px 5px;
	overflow: auto;
	height: 300px;
}

#correlation_slider {
/*  width: 300px;*/
	height: 8px;
}

.grayed_out {
	color: #ccc;
}

#correlation_slider a:link {
	font-size:14px;
}

#expr_params {
   text-decoration:none;
/*   font-family:"Verdana", arial, Sans-serif;*/
/*   margin:10px;*/
/*   line-height:50px;*/
   font-size:18px;
   white-space: nowrap;
/*   width:310px;*/
/*   cursor:pointer;*/
}

.params_box {
  background-color: #efefef;
  border-style: solid;
  border-width: 1px;
  border-color:#ccc;
  border-radius:5px;
  padding:5px 15px 5px 5px;
  box-shadow: 5px 5px 5px #aaa;
  position:absolute;
  text-align:left;
  cursor:pointer;
}

.close_x {
  float: right;
  padding:0px 3px 1px 3px;
  margin-right:-10px;
  color: #555;
  background-color: #ccc;
  font-size:10px;
  border-radius:8px;
}

.close_x:hover {
  color: #555;
  background-color: #aaa;
  border-color:#888;
}

.wizard_select {
  overflow:auto;
  margin-bottom:5px;
}

#genotype_form {
   margin-top:390px;
   margin-left:-40px;
   z-index: 0;
}

#organ_form {
   margin-top:440px;
   margin-left:10px;
   z-index: 0;
}

#stage_form {
   margin-top:490px;
   margin-left:60px;
   z-index: 0;
}

#tissue_form {
   margin-top:540px;
   margin-left:110px;
   z-index: 0;
}


.ui-widget {
	font-size:14px;
}

#dialog_top_info {
  height: 25px;
  vertical-align: middle;
}


.blue_link {
  color: #206ad8;
  text-decoration:none;
  cursor:pointer;
	border-width:1px;
	border-style:solid;
	border-radius:5px;
  padding: 1px 10px 1px 10px;
}

.blue_link:hover {
  color: #418cfa;
  text-decoration:none;
}

.tabs {
  width: 1060px;
}

.jqplot-table-legend-label {
  padding-left:5px;
}

/* style for gradient color bar legend */


#legend_box {
  position: fixed;
  top:50%;
  right:0px;
  margin-top:-250px;
  width:100px;
  height:500px;
  background-color: #f5f5f5;
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-radius:4px;
}

#hide_legend {
  position: fixed;
  right:0px;
  top:50%;
  width:100px;
  margin-top:-280px;
}
