@font-face {
    font-family: CondensedLight;
    src: url("/static/fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf");
}

body {
	margin: 10px;
	margin-left:30px;
	margin-right:30px;
	padding: 0px;
	font-family: "CondensedLight";
	font-size:20px;
/*	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana, "Helvetica Neue", Helvetica, sans-serif;*/
}

#container {
	border-style:dashed;
	border-width:1px;
	height:700px;
	width:1120px;
	overflow:scroll;
/*	width:900px;*/
}

.center {
	margin-left:auto;
	margin-right:auto;
	width:95%;
}

a:link {
	font-size:20px;
	color:rgb(0,0,0);
	text-decoration:none;
}

a:visited {
	color:rgb(0,0,0);
	text-decoration:none;
}

a:hover {
	color:rgb(50,50,50);
	text-decoration:none;
}

#tea_menu {
	font-size:24px;
    background:#888888;
/*	font-family:"Verdana", arial, Sans-serif;*/
	background:-moz-linear-gradient( center top, #888888 5%, #666666 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #888888), color-stop(1, #666666) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#666666');
	border-radius:15px;
	text-align:center;
	height:50px;
	line-height:50px;
	margin-top:20px;
/*	box-shadow: 1px 2px 0px 0px #333333;*/
}


#other_menu_td {
	width:130px;
}

#other_menu_td:hover {
	background:-moz-linear-gradient( center top, #555555 5%, #666666 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #555555), color-stop(1, #666666) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#666666');
	width:130px;
}

#tea_menu a {
	font-size:24px;
	font-weight:bold;
	font-style:normal;
	color:#FFFFFF;
/*	font-family:"Verdana", arial, Sans-serif;*/
	font-family: "CondensedLight";
	display:block;
	width:130px;
	text-align:center;
	text-decoration:none;
}

#right_menu {
	width:130px;
}

#right_menu:hover {
	background:-moz-linear-gradient( center top, #555555 5%, #666666 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #555555), color-stop(1, #666666) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#666666');
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
}

#left_menu {
	width:130px;
}

#left_menu:hover {
	background:-moz-linear-gradient( center top, #555555 5%, #666666 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #555555), color-stop(1, #666666) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#666666');
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
}

#tea_title {
	font-size:60px;
	color:rgb(0,0,0);
	margin-top: 0px;
/*	font-family:"Verdana", arial, Sans-serif;*/
	font-family: "CondensedLight";
}

#subtitle {
	max-width:500px;
	font-size:38px;
	color:rgb(150,150,150);
/*	font-family:"Verdana", arial, Sans-serif;*/
	font-family: "CondensedLight";
}

#red {
	color:rgb(200,0,0);
}

#green {
	color:rgb(0,200,0);
}

#orange {
	color:rgb(250,100,0);
}


.td_index {
   text-decoration:none;
   text-align:center;
   margin-left:auto;
   margin-right:auto;
   width:220px;
}


#tea_form {
   display:inline;
/*   margin:10px;*/
   text-decoration:none;
   width:90%;
   margin-left:auto;
   margin-right:auto;
}

.td_form {
   text-decoration:none;
   vertical-align:top;
}

#expr_params {
   text-decoration:none;
/*   font-family:"Verdana", arial, Sans-serif;*/
   font-family: "CondensedLight";
   margin:10px;
   line-height:60px;
   font-size:28px;
}

.blue_button {
	background-color:#4387FD;
	border:0px;
	border-radius:10px;
	color:#FFFFFF;
/*	font-family:Arial;*/
	font-family: "CondensedLight";
	font-size:20px;
	height:40px;
	line-height:38px;
    vertical-align: top;
}

.blue_button:hover {
	box-shadow: 0px 1px 0px 0px #C6C6C6;
	background-color:#5EA1FF;
	color:#0000CC;
}

.blue_button:active {
	position:relative;
	top:1px;
}

.info_icon {
	background-color:#4387FD;
	border-radius:20px;
	vertical-align: top;
	border:0px;
	display:inline-block;
	color:#ffffff;
	font-family:"Georgia",Georgia,Serif;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	width:15px;
	height:15px;
	line-height:16px;
	text-align:center;
	padding:2px;
}
.info_icon:hover {
	background-color:#5EA1FF;
	color:#0000CC;
}

.info_icon:active {
	position:relative;
	top:1px;
}

#gene_info {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #444444), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #444444 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4387FD', endColorstr='#4683EA');
	font-family: "CondensedLight";
	background-color:#222222;
	border-style:solid;
	border-width:2px;
	border-color:#DDDDDD;
	border-radius:20px;
	color:#7FC3FF;
/*	font-family:Arial;*/
	font-size:18px;
	line-height:30px;
	max-width:1100px;
	width:90%;
	padding:5px;
}

.gene_name a {
	display:inline;
	color:#FFFFFF;
/*	font-family:Arial;*/
	font-family: "CondensedLight";
	font-size:18px;
/*	line-height:30px;*/
	text-decoration:none;
}

.gene_desc {
	color:#FFFFFF;
/*	font-family:Arial;*/
	font-family: "CondensedLight";
	font-size:18px;
	font-weight:normal;
/*	line-height:16px;*/
	text-decoration:none;
	vertical-align: top;
}

.gene_name a:hover {
	color:#FF0000;
	text-decoration:none;
}

.gene_name_dialog a{
	color:#000000;
/*	font-family:Arial;*/
	font-family: "CondensedLight";
	font-size:18px;
	line-height:18px;
	text-decoration:none;
}

.gene_desc_dialog {
	color:#000000;
/*	font-family:Arial;*/
	font-family: "CondensedLight";
	font-size:18px;
	line-height:18px;
	text-decoration:none;
}





/*	  jquery.jqplot.css*/
	      /*rules for the plot target div.  These will be cascaded down to all plot elements         according to css rules*/
	.jqplot-target {
		position: relative;
		color: #666666;
	/*	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;*/
		font-family: "CondensedLight";
		font-size: 1em;
	}
	/*rules applied to all axes*/
	.jqplot-axis {
		font-size: 0.75em;
	}
	.jqplot-xaxis {
		margin-top: 10px;
	}
	.jqplot-x2axis {
		margin-bottom: 10px;
	}
	.jqplot-yaxis {
		margin-right: 10px;
	}
	.jqplot-y2axis, .jqplot-y3axis, .jqplot-y4axis, .jqplot-y5axis, .jqplot-y6axis, .jqplot-y7axis, .jqplot-y8axis, .jqplot-y9axis, .jqplot-yMidAxis {
		margin-left: 10px;
		margin-right: 10px;
	}
	/*rules applied to all axis tick divs*/
	.jqplot-axis-tick, .jqplot-xaxis-tick, .jqplot-yaxis-tick, .jqplot-x2axis-tick, .jqplot-y2axis-tick, .jqplot-y3axis-tick, .jqplot-y4axis-tick, .jqplot-y5axis-tick, .jqplot-y6axis-tick, .jqplot-y7axis-tick, .jqplot-y8axis-tick, .jqplot-y9axis-tick, .jqplot-yMidAxis-tick {
	  position: absolute;
	  white-space: pre;
	}
	.jqplot-xaxis-tick {
	  top: 0px;
	  /* initial position untill tick is drawn in proper place */
	  left: 15px;
	  /*    padding-top: 10px;*/
	  vertical-align: top;
	}
	.jqplot-x2axis-tick {
	  bottom: 0px;
	  /* initial position untill tick is drawn in proper place */
	  left: 15px;
	  /*    padding-bottom: 10px;*/
	  vertical-align: bottom;
	}
	.jqplot-yaxis-tick {
	  right: 0px;
	  /* initial position untill tick is drawn in proper place */
	  top: 15px;
	  /*    padding-right: 10px;*/
	  text-align: right;
	}
	.jqplot-yaxis-tick.jqplot-breakTick {
	  right: -20px;
	  margin-right: 0px;
	  padding:1px 5px 1px 5px;
	  /*    background-color: white;*/
	  z-index: 2;
	  font-size: 1.5em;
	}
	.jqplot-y2axis-tick, .jqplot-y3axis-tick, .jqplot-y4axis-tick, .jqplot-y5axis-tick, .jqplot-y6axis-tick, .jqplot-y7axis-tick, .jqplot-y8axis-tick, .jqplot-y9axis-tick {
	  left: 0px;
	  /* initial position untill tick is drawn in proper place */
	  top: 15px;
	  /*    padding-left: 10px;*/
	  /*    padding-right: 15px;*/
	  text-align: left;
	}
	.jqplot-yMidAxis-tick {
	  text-align: center;
	  white-space: nowrap;
	}
	.jqplot-xaxis-label {
	  margin-top: 10px;
	  font-size: 11pt;
	  position: absolute;
	}
	.jqplot-x2axis-label {
	  margin-bottom: 10px;
	  font-size: 11pt;
	  position: absolute;
	}
	.jqplot-yaxis-label {
	  margin-right: 10px;
	  /*    text-align: center;*/
	  font-size: 11pt;
	  position: absolute;
	}
	.jqplot-yMidAxis-label {
	  font-size: 11pt;
	  position: absolute;
	}
	.jqplot-y2axis-label, .jqplot-y3axis-label, .jqplot-y4axis-label, .jqplot-y5axis-label, .jqplot-y6axis-label, .jqplot-y7axis-label, .jqplot-y8axis-label, .jqplot-y9axis-label {
	  /*    text-align: center;*/
	  font-size: 11pt;
	  margin-left: 10px;
	  position: absolute;
	}
	.jqplot-meterGauge-tick {
	  font-size: 0.75em;
	  color: #999999;
	}
	.jqplot-meterGauge-label {
	  font-size: 1em;
	  color: #999999;
	}
	table.jqplot-table-legend {
	  margin-top: 12px;
	  margin-bottom: 12px;
	  margin-left: 12px;
	  margin-right: 12px;
	}
	table.jqplot-table-legend, table.jqplot-cursor-legend {
	  background-color: rgba(255, 255, 255, 0.6);
	  border: 1px solid #cccccc;
	  position: absolute;
	  font-size: 0.75em;
	}
	td.jqplot-table-legend {
	  vertical-align:middle;
	}
	/*
	These rules could be used instead of assigning
	element styles and relying on js object properties.
	*/

	/*
	td.jqplot-table-legend-swatch {
	  padding-top: 0.5em;
	  text-align: center;
	}

	tr.jqplot-table-legend:first td.jqplot-table-legend-swatch {
	  padding-top: 0px;
	}
	*/
	td.jqplot-seriesToggle:hover, td.jqplot-seriesToggle:active {
	  cursor: pointer;
	}
	.jqplot-table-legend .jqplot-series-hidden {
	  text-decoration: line-through;
	}
	div.jqplot-table-legend-swatch-outline {
	  border: 1px solid #000000;
	  padding:0px;
	}
	div.jqplot-table-legend-swatch {
	  width:0px;
	  height:0px;
	  border-top-width: 5px;
	  border-bottom-width: 5px;
	  border-left-width: 6px;
	  border-right-width: 6px;
	  border-top-style: solid;
	  border-bottom-style: solid;
	  border-left-style: solid;
	  border-right-style: solid;
	}
	.jqplot-title {
	  top: 0px;
	  left: 0px;
	  padding-bottom: 0.5em;
	  font-size: 1.2em;
	}
	table.jqplot-cursor-tooltip {
	  border: 1px solid #cccccc;
	  font-size: 0.75em;
	}
	.jqplot-cursor-tooltip {
	  border: 1px solid #cccccc;
	  font-size: 0.75em;
	  white-space: nowrap;
	  background: rgba(208, 208, 208, 0.5);
	  padding: 1px;
	}
	.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip {
	  border: 1px solid #cccccc;
	  font-size: 0.75em;
	  white-space: nowrap;
	  background: rgba(208, 208, 208, 0.5);
	  padding: 1px;
	}
	.jqplot-point-label {
	  font-size: 0.75em;
	  z-index: 2;
	}
	td.jqplot-cursor-legend-swatch {
	  vertical-align: middle;
	  text-align: center;
	}
	div.jqplot-cursor-legend-swatch {
	  width: 1.2em;
	  height: 0.7em;
	}
	.jqplot-error {
	  /*   Styles added to the plot target container when there is an error go here.*/
	  text-align: center;
	}
	.jqplot-error-message {
	  /*    Styling of the custom error message div goes here.*/
	  position: relative;
	  top: 46%;
	  display: inline-block;
	}
	div.jqplot-bubble-label {
	  font-size: 0.8em;
	/*	          background: rgba(90%, 90%, 90%, 0.15);*/
	  padding-left: 2px;
	  padding-right: 2px;
	  color: rgb(20%, 20%, 20%);
	}
	div.jqplot-bubble-label.jqplot-bubble-label-highlight {
	  background: rgba(90%, 90%, 90%, 0.7);
	}
	div.jqplot-noData-container {
	  text-align: center;
	  background-color: rgba(96%, 96%, 96%, 0.3);
	}

.ui-tooltip {
	padding: 10px;
	position: absolute;
	z-index: 9999;
	max-width: 200px;
	-webkit-box-shadow: 0 0 5px 0 #aaa;
	box-shadow: 0 0 5px 0 #aaa;
}
body .ui-tooltip {
	font-family: "CondensedLight";
	font-size:18px;
	border-width: 2px;
	background: #ffffff;
	background: rgba(55, 55, 55, 0.7);
	color: #ffffff;
	border-radius:20px;
	border-color:#ffffff;
}

#correlation_slider {
	width: 300px;
	height: 8px;
}

#correlation_slider a:link {
	font-size:14px;
}

.ui-widget {
	font-family: "CondensedLight";
}
